// color
$color-light-gray: #eee;
$color-dark-gray: #333;
$color-brown-gray: #999;
$color-camel: #c8a450;
$color-coral-pink: #ff555e;
$color-brownish-gray: #666;
$color-white: #fff;
$color-black: #000;
$color-earth: #976936;
$color-paste-red: #e95252;
$color-orangey-red: #f3562b;

// text
$color-text-tag: #442c0f;

// bg
$color-bg-lightgray: #f4f4f4;
$color-bg-gray: #e9e9e9;
$color-bg-darkgray: #ccc;
$color-bg-badge: $color-paste-red;

// button
$button-bg-default: #f2f2f2;

// font-size
$font-size-xs: 10px;
$font-size-s: 11px;
$font-size-sm: 12px;
$font-size-normal: 14px;
$font-size-lg: 16px;
$font-size-xl: 18px;
$font-size-xxlg: 20px;
$font-size-xxxl: 22px;

// font-weight
$font-weight-medium: 500;

// z-index
$z-index-popup: 999;
$z-index-modal-img: 1;
$z-index-modal-button: 2;
$z-index-fixed-bottom: 10;
$z-index-fixed-top-sticky: 10;